# Core functionality - changes here should be rare!
/src/app.py                   @connorssullivan
/src/backend/database.py      @connorssullivan
/src/backend/routers/auth.py  @connorssullivan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @connorssullivan
